{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>GlycoSense</title>
    <link rel="stylesheet" href="{% static 'formulario/formulario.css' %}">
</head>

<body>
    <div class="container">
        <nav class="navbar">
            <h1 class="logo"><a href="{% url 'home:home' %}">GlycoSense</a></h1>
        </nav>
        <h2>Preencha os dados abaixo:</h2>

        <div class="form-container">
            <form method="POST" action="{% url 'formularios:formulario' %}" class="form">
                {% csrf_token %}

                <div class="input-group">
                    <label for="gravidez">Número de gestações</label>
                    <input type="number" name="gravidez" id="gravidez" placeholder="Número de gestações">
                </div>

                <div class="input-group">
                    <label for="glicose">Glicose (mg/dL)</label>
                    <input type="number" name="glicose" id="glicose" placeholder="Glicose (mg/dL)" required>
                </div>

                <div class="input-group">
                    <label for="pressao">Pressão Arterial (mm Hg)</label>
                    <input type="number" name="pressao" id="pressao" placeholder="Pressão Arterial (mm Hg)" required>
                </div>

                <div class="input-group">
                    <label for="espessura_pele">Espessura da pele (mm)</label>
                    <input type="number" name="espessura_pele" id="espessura_pele" placeholder="Espessura da pele (mm)"
                        required>
                </div>

                <div class="input-group">
                    <label for="insulina">Insulina (mu U/ml)</label>
                    <input type="number" name="insulina" id="insulina" placeholder="Insulina (mu U/ml)" required>
                </div>

                <div class="input-group">
                    <label for="imc">IMC (kg/m²)</label>
                    <input type="number" step="0.1" name="imc" id="imc" placeholder="IMC (kg/m²)" required>
                </div>

                <div class="input-group">
                    <label for="pedigree">Função Pedigree</label>
                    <input type="number" step="0.001" name="pedigree" id="pedigree" placeholder="Função Pedigree"
                        required>
                </div>

                <div class="input-group">
                    <label for="idade">Idade</label>
                    <input type="number" name="idade" id="idade" placeholder="Idade" required>
                </div>

                <div class="input-group">
                    <label for="resultado">Resultado</label>
                    <select name="resultado" id="resultado" required>
                        <option value="">Selecione</option>
                        <option value="0">Negativo</option>
                        <option value="1">Positivo</option>
                    </select>
                </div>

                <button type="submit">Descubra sua chance agora!</button>
            </form>
        </div>
    </div>
</body>

</html>