{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>GlycoSense - Análise</title>
    <link rel="stylesheet" href="{% static 'formulario/formulario.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="container">
        <nav class="navbar">
            <h1 class="logo"><a href="{% url 'home:home' %}">GlycoSense</a></h1>
        </nav>

        <h2>Preencha os dados para análise</h2>

        <div class="form-container">
            <form class="form" action="{% url 'formulario:processar_predicao' %}" method="post">
                {% csrf_token %}

                <div class="input-group">
                    <label for="pregnancies">Número de Gravidez:</label>
                    <input type="number" id="pregnancies" name="pregnancies" required>
                </div>

                <div class="input-group">
                    <label for="glucose">Glicose (mg/dL):</label>
                    <input type="number" id="glucose" name="glucose" required>
                </div>

                <div class="input-group">
                    <label for="blood_pressure">Pressão Sanguínea (mm Hg):</label>
                    <input type="number" id="blood_pressure" name="blood_pressure" required>
                </div>

                <div class="input-group">
                    <label for="skin_thickness">Espessura da Pele (mm):</label>
                    <input type="number" id="skin_thickness" name="skin_thickness" required>
                </div>

                <div class="input-group">
                    <label for="insulin">Insulina (mu U/ml):</label>
                    <input type="number" id="insulin" name="insulin" required>
                </div>

                <div class="input-group">
                    <label for="bmi">IMC (Índice de Massa Corporal):</label>
                    <input type="text" id="bmi" name="bmi" required>
                </div>

                <div class="input-group">
                    <label for="diabetes_pedigree">Histórico Familiar (Pedigree):</label>
                    <input type="text" id="diabetes_pedigree" name="diabetes_pedigree" required>
                </div>

                <div class="input-group">
                    <label for="age">Idade:</label>
                    <input type="number" id="age" name="age" required>
                </div>

                <button type="submit">Descobrir minha chance agora!</button>
            </form>
        </div>
    </div>
</body>

</html>